Quiz1/src/conf/xml-resources/web-service-references/WSQ1/wsdl/lawgenap2016.cloudapp.net_8080/webservice/WSQ1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wees/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wees/" name="WEBSERVICEQUIZ">
<types>
<xsd:schema>
<xsd:import namespace="http://wees/" schemaLocation="http://lawgenap2016.cloudapp.net:8080/webservice/WSQ1?xsd=1" />
</xsd:schema>
</types>
<message name="Mystery8">
<part name="parameters" element="tns:Mystery8" />
</message>
<message name="Mystery8Response">
<part name="parameters" element="tns:Mystery8Response" />
</message>
<message name="Mystery9">
<part name="parameters" element="tns:Mystery9" />
</message>
<message name="Mystery9Response">
<part name="parameters" element="tns:Mystery9Response" />
</message>
<message name="Mystery1">
<part name="parameters" element="tns:Mystery1" />
</message>
<message name="Mystery1Response">
<part name="parameters" element="tns:Mystery1Response" />
</message>
<message name="Mystery3">
<part name="parameters" element="tns:Mystery3" />
</message>
<message name="Mystery3Response">
<part name="parameters" element="tns:Mystery3Response" />
</message>
<message name="Mystery0">
<part name="parameters" element="tns:Mystery0" />
</message>
<message name="Mystery0Response">
<part name="parameters" element="tns:Mystery0Response" />
</message>
<message name="Mystery6">
<part name="parameters" element="tns:Mystery6" />
</message>
<message name="Mystery6Response">
<part name="parameters" element="tns:Mystery6Response" />
</message>
<message name="Mystery7">
<part name="parameters" element="tns:Mystery7" />
</message>
<message name="Mystery7Response">
<part name="parameters" element="tns:Mystery7Response" />
</message>
<message name="Mystery5">
<part name="parameters" element="tns:Mystery5" />
</message>
<message name="Mystery5Response">
<part name="parameters" element="tns:Mystery5Response" />
</message>
<message name="Mystery4">
<part name="parameters" element="tns:Mystery4" />
</message>
<message name="Mystery4Response">
<part name="parameters" element="tns:Mystery4Response" />
</message>
<message name="Mystery2">
<part name="parameters" element="tns:Mystery2" />
</message>
<message name="Mystery2Response">
<part name="parameters" element="tns:Mystery2Response" />
</message>
<portType name="WSQ1">
<operation name="Mystery8">
<input wsam:Action="http://wees/WSQ1/Mystery8Request" message="tns:Mystery8" />
<output wsam:Action="http://wees/WSQ1/Mystery8Response" message="tns:Mystery8Response" />
</operation>
<operation name="Mystery9">
<input wsam:Action="http://wees/WSQ1/Mystery9Request" message="tns:Mystery9" />
<output wsam:Action="http://wees/WSQ1/Mystery9Response" message="tns:Mystery9Response" />
</operation>
<operation name="Mystery1">
<input wsam:Action="http://wees/WSQ1/Mystery1Request" message="tns:Mystery1" />
<output wsam:Action="http://wees/WSQ1/Mystery1Response" message="tns:Mystery1Response" />
</operation>
<operation name="Mystery3">
<input wsam:Action="http://wees/WSQ1/Mystery3Request" message="tns:Mystery3" />
<output wsam:Action="http://wees/WSQ1/Mystery3Response" message="tns:Mystery3Response" />
</operation>
<operation name="Mystery0">
<input wsam:Action="http://wees/WSQ1/Mystery0Request" message="tns:Mystery0" />
<output wsam:Action="http://wees/WSQ1/Mystery0Response" message="tns:Mystery0Response" />
</operation>
<operation name="Mystery6">
<input wsam:Action="http://wees/WSQ1/Mystery6Request" message="tns:Mystery6" />
<output wsam:Action="http://wees/WSQ1/Mystery6Response" message="tns:Mystery6Response" />
</operation>
<operation name="Mystery7">
<input wsam:Action="http://wees/WSQ1/Mystery7Request" message="tns:Mystery7" />
<output wsam:Action="http://wees/WSQ1/Mystery7Response" message="tns:Mystery7Response" />
</operation>
<operation name="Mystery5">
<input wsam:Action="http://wees/WSQ1/Mystery5Request" message="tns:Mystery5" />
<output wsam:Action="http://wees/WSQ1/Mystery5Response" message="tns:Mystery5Response" />
</operation>
<operation name="Mystery4">
<input wsam:Action="http://wees/WSQ1/Mystery4Request" message="tns:Mystery4" />
<output wsam:Action="http://wees/WSQ1/Mystery4Response" message="tns:Mystery4Response" />
</operation>
<operation name="Mystery2">
<input wsam:Action="http://wees/WSQ1/Mystery2Request" message="tns:Mystery2" />
<output wsam:Action="http://wees/WSQ1/Mystery2Response" message="tns:Mystery2Response" />
</operation>
</portType>
<binding name="WSQ1PortBinding" type="tns:WSQ1">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="Mystery8">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Mystery9">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Mystery1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Mystery3">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Mystery0">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Mystery6">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Mystery7">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Mystery5">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Mystery4">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Mystery2">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="WEBSERVICEQUIZ">
<port name="WSQ1Port" binding="tns:WSQ1PortBinding">
<soap:address location="http://lawgenap2016.cloudapp.net:8080/webservice/WSQ1" />
</port>
</service>
</definitions>